.Header {
    background: #0066cc;
    padding: 10px;
    width: 100%;
    height: 60px;
}

.link {
    padding: 0 20px;
    font-size: 18px;
    color: white;
}

.navbar-right {
    float: right;
    padding-top: 5px;
    margin-right: 350px;
}

.nav-link {
    float: left;
}